body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1, h2, h4 {
    font-family: 'Merriweather', serif;
}

h2 {
    font-weight: bold; /* Make the heading bold */
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: #f0ad4e !important;
}

/* Card Style for Contact Info */
.contact-card {
    background-color: #fff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-card h4 {
    border-bottom: 2px solid #f0ad4e;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

/* Gradient Background */
.bg-gradient {
    background: linear-gradient(45deg, #343a40, #495057);
}

/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    max-width: 100%; /* Максимальна ширина - 100% від картки */
    max-height: 300px; /* Максимальна висота - 300px */
    height: auto; /* Автоматичне регулювання висоти для збереження пропорцій */
    object-fit: cover; /* Заповнення простору зображенням без деформації */
}

.btn:hover {
    transform: scale(1.06); /* Slightly increase size */
}
.active-link {
    color: cadetblue; /* Change text color for better contrast */
}